
@{
    ViewBag.Title = "Index";
}
@section Scripts {
    <script type="text/javascript">

        function addToCart(item, actionName)
        {
            if ('@Session["UserID"]' == "" || '@Session["UserID"]' == null) {
                alert("You have to log in to Order");
            }
            else {
                var DiscID = item.DiscID;
                $.ajax({
                    type: "POST",
                    url: '/Discs/AddDisc',
                    data: {
                        DiscID,
                        actionName: actionName
                    },
                    success: function () {
                        alert("Go to shopping bag");
                        window.location.reload();
                    }
                });
            }
        };

    </script>
}
<h2>Recommended for you:</h2>


<div class="displayRow">
    @foreach (var item in Model)
    {
        <div class="displayCol">
            <img src="@Url.Content(item.ImgPath)" alt="Image" class="displayImg" />

            <p>  @item.Price.ToString("0.00") ₪ | <i class="glyphicon glyphicon-tag"></i> @item.Name</p>
            <button class="btn btn-light addButton btnStyle" onclick='addToCart(@Html.Raw(Json.Encode(item)), "@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()")'>
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    }
</div>