@model IEnumerable<DiscStore.Models.Disc>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
    Session["your_array"] = new double[] { 1.0, 2.0, 3.0 };
}
@section Scripts {
    <script type="text/javascript">
        function deleteFromCart(discID, actionName) {
            $.ajax({
                type: "POST",
                url: '/ShoppingCart/DeleteDisc',
                data: {
                    discID: discID,
                    actionName: actionName
                },
                success: function () {
                    window.location.reload();
                }
            });
        }

        window.onload = function () {
            $.ajax({
                type: "POST",
                url: '/ShoppingCart/GetTotalPrice',
                success: function (res) {
                    $("#totalPrice").html(res+ '₪');
                }
            });
        }
    </script>
}
<div style="text-align: center;">
    <h2>Your Order Cart:</h2>
</div>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <!------ Need TO ADD TO THIS IF WHETER THE LIST IS EMPTY ---------->
    @if (Session["UserOrder"] == null || Model?.Count() == 0)
    {
        <h1>Is still empty! Go Shopping </h1>
    }
    else
    {
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Disc</th>
                    <th style="width:10%">Artist</th>
                    <th style="width:10%">Genre</th>
                    <th style="width:10%">Quantity</th>
                    <th style="width:10%" class="text-center">Price</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <div class="displayRow">
                <tbody>
                    @foreach (var disc in ((List<DiscStore.Models.Disc>)Session["UserOrder"]).GroupBy(x => x.DiscID).Select(x => x.FirstOrDefault()))
                    {
                        <tr>
                            <td data-th="Disc">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs"><img src="@Url.Content(disc.ImgPath)" alt="..." class="img-responsive" /></div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin">@disc.Name</h4>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Artist">@disc.Artists.Name</td>
                            <td data-th="Genre">@disc.Genres.GenreName</td>
                            <td data-th="Quantity"> @Model.Count(x => x.DiscID == disc.DiscID)</td>
                            <td data-th="Price" class="text-center">@disc.Price.ToString("0.00") ₪</td>
                            <td class="actions" data-th="">
                                <button class="btn btn-danger btn-sm" onclick='deleteFromCart("@disc.DiscID", "@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()")'><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </div>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>Total </strong></td>
                    <td class="hidden-xs text-center"><strong id="totalPrice">Total </strong></td>
                    <td>
                        <a href='@Url.Action("Checkout", "ShoppingCart")' class="btn btn-success btn-block">
                            <i class="fa fa-angle-right"></i> Checkout
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    }

    @if (Session["UserOrder"] == null || Model?.Count() == 0)
    {
        <a href='@Url.Action("Index", "Discs")' class="btn btn-warning"><i class="fa fa-angle-left"></i> Start Shopping</a>
    }
    else
    {
        <a href='@Url.Action("Index", "Discs")' class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
    }
</div>