@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h4>Our top pick for today:</h4>
    <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="120" style="width:100%;max-width:400px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/old-town-road-feat-rm-of-bts-seoul-town-road-remix/1474182253?i=1474182258&app=music"></iframe>
    <nav class="navbar navbar-inverse" style="margin:0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">DiscStore</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    @Html.ActionLink("Home", "Home", "Home")
                </li>
               
                <li class="navbarItem @(ViewContext.RouteData.Values["Action"].ToString() == "AllDiscs" ?
                    "active" : "")">@Html.ActionLink("Discs", "AllDiscs", "Discs")
                </li>

                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Manage Genres", "Manage", "Genres")</li>
                            <li>@Html.ActionLink("Manage Discs", "Manage", "Discs")</li>
                            <li>@Html.ActionLink("Manage Artists", "Manage", "Artists")</li>
                            <li>@Html.ActionLink("Manage Stores", "Manage", "Stores")</li>
                            <li>@Html.ActionLink("Manage Users", "Manage", "Users")</li>
                            <li>@Html.ActionLink("Manage Orders", "Manage", "Orders")</li>
                        }
                    }

                </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href='@Url.Action("Index", "Map")'>
                        <i class="glyphicon glyphicon-map-marker"></i>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Info", "Home")'>
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "ShoppingCart")'>
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "Statistics")'>
                        <i class="glyphicon glyphicon glyphicon-stats"></i>
                    </a>
                </li>
                @if (!Request.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("Index", "Login")">
                            <span class="glyphicon glyphicon-log-in">
                            </span> Login
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Logout", "Login")">
                            <span class="glyphicon glyphicon-log-out">
                            </span> Logout
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
