<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse" style="margin:0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">DiscStore</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a @Url.Action("Info", "Home")>
                        Home
                    </a>
                </li>
                <li>
                    <a @Html.ActionLink("Discs", "Index", "Discs") </a>
                </li>
                <li><a href="#">Page 2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href='@Url.Action("Index", "Map")'>
                        <i class="glyphicon glyphicon-map-marker"></i>
                    </a>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
